@model Biblioteca.Models.Categoria

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Categoria</h4>
<hr />
<div class="d-flex justify-content-center align-items-center container ">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden="hidden">
                <label asp-for="IdCategoria" class="control-label"></label>
                <input asp-for="IdCategoria" readonly class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label">Estado</label>
                <select asp-for="IdEstado" asp-items="@ViewBag.estados" class="form-select"></select>
                <span asp-validation-for="IdEstado" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
  @if (ViewBag.Alert != null){
  <script>
    alert("@ViewBag.Alert");
  </script>  
}  <br />
<div class="form-group">
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
