@model Biblioteca.Models.Editorial

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Editorial</h4>
<hr />
<div class="d-flex justify-content-center align-items-center container ">
    <h3 class="col-md-4">
        <form asp-action="Create">
            <div class="form" hidden="hidden">
                <label asp-for="IdEditorial" class="control-label"></label>
                <input asp-for="IdEditorial" readonly class="form-control" />
                <span asp-validation-for="IdEditorial" class="text-danger"></span>
            </div>
            <div class="form">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form">
                <label asp-for="fecha" class="control-label"></label>
                <input asp-for="fecha" type="date" class="form-control" />
                <span asp-validation-for="fecha" class="text-danger"></span>
            </div>
           <div class="form">
                <label asp-for="Estado" class="control-label">Estado</label>
                <select asp-for="IdEstado" asp-items="@ViewBag.estados" class="form-select"></select>
                <span asp-validation-for="IdEstado" class="text-danger"></span>
            </div>           
            <div class="form">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
 @if (ViewBag.Alert != null){
  <script>
    alert("@ViewBag.Alert");
  </script>  
} 

    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
